* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  padding: 0;
  height: 100%;
  line-height: 1.5;
}
* {
  margin: 0;
}

/* Add styles here! */
header,
main {
  padding-left: 30px;
  padding-right: 30px;
}
main {
  background-color: hsl(0, 0%, 50.2%);
  height: 100%;
}
p {
  padding-bottom: 10px;
}
.max-width-wrapper {
  max-width: 650px;
  margin: 0 auto;
}
header .max-width-wrapper {
  padding: 100px 20px 50px 20px;
}
header h1 {
  margin-bottom: 20px;
}
section.max-width-wrapper {
  padding-top: 50px;
  border-bottom: 10px solid hsl(0, 0%, 70%);
}
.intro-chunk {
  max-width: 330px;
}
.card {
  padding: 20px;
  background-color: white;
}
.indented-heading {
  width: fit-content;
  border-bottom: 10px solid hsl(48,100%,30%);
  padding: 10px 20px;
  background-color: hsl(48,100%,50%);
  margin-left: -30px;
  margin-bottom: 20px;
}
.intro-chunk
strong {
  color: green;;
}